footer {
  background-color: lightgray;
  border: solid 1px gray;
  text-align: center;
}

.imagen-nosotros {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.icono-carrito {
  text-align: center;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

p {
  width: 80%;
  height: 80%;
  text-align: justify;
  border: outset 1px;
  padding: 10px;
  margin: auto;
}
